/* darkmode styling */

/* background color */
body 	{ background-color: #121212; }

/* header */
header 	{ background-color: #2C2C2C; }
footer  { color: white; background-color: transparent; }

/* section title text */
.section-title 	{ color: white; }

/* weird items */
.url-container 	{ color: lightgrey;}
.nul-item	{ color: lightgrey; }

/* sidebar */
.sidebar-label	{ color: white; }
.sidebar-title 	{ color: white; }

.sidebar-dropdown 	{ color: white; background-color: #2C2C2C; }

/* link styling */
.url:link		{ color: rgb(158, 158, 255); }
.url:visited 		{ color: rgb(208, 173, 240); }
.url:link:active 	{ color: rgb(255, 158, 158); }
.url:visited:active 	{ color: rgb(255, 158, 158); }
