/* global styles, nomatter the theme */

/* GLOBAL */
/* set font */
* {
	font-family: Monospace;
}

/* ELEMENTS */
/* sidebar styling */
header {
    /* height = max-height - ( self.top-padding + self.bottom-padding ) */
	height: calc( 100% - ( 13px + 13px ) );
	width: 200px;

	padding: 13px 10px 13px 10px;
}

/* wrapper */
#wrapper {
	/* width = ( maxwidth - ( sidebar.width + sidebar.padding_x ) ) */
	width: calc( 100% - ( 200px + 20px ) );
}

/* mainbody */
main {
    /* width = maxwidth - self.padding */
    width: calc( 100% - 80px );

	padding-left: 80px;
    padding-bottom: 20px;
	margin-top: 26px;
}

/* footer */
footer {
    width: calc(100% - 20px );

    padding: 10px;
}

#sidebar_quick_shortcuts_wrapper {
    height: calc( 100% - 150px );

}

#sidebar_quick_shortcuts {
    max-height: calc(100% - 26px );
    overflow: hidden;
    overflow-y: auto;
}

#last_editted_wrapper {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.sidebar-seperator {
    margin-right: 10px;
}

/* GENERAL */
/* margin general styles */
.no-margin {
    margin: 0;
}

.no-left-margin {
    margin-left: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-right-margin {
    margin-right: 0;
}

.no-bottom-margin {
    margin-bottm: 0;
}

/* padding general styles */
.no-padding {
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-top-padding {
    padding-top: 0;
}

.no-right-padding {
    padding-right: 0;
}

.no-bottom-padding {
    padding-bottm: 0;
}

/* general styling classes */

/* ul */
.without-dots {
	list-style-type: none;
}

/* text */
.medium-font {
	font-size: 18px;
}

.text-underline {
	text-decoration: underline;
}

/* centering */
.text-center {
	text-align: center;
}

.item-center {
    margin: auto;
}

/* display */
.inline-block {
	display: inline-block;
}

.grid {
    display: grid;
}

/* grid columns */
.one-column {
    grid-template-columns: repeat( 1, 1fr );
}

.two-columns {
    grid-template-columns: repeat( 2, 1fr );
}

.three-columns {
    grid-template-columns: repeat( 3, 1fr );
}

.four-columns {
    grid-template-columns: repeat( 4, 1fr );
}

.five-columns {
    grid-template-columns: repeat( 5, 1fr );
}

.six-columns {
    grid-template-columns: repeat( 6, 1fr );
}

/* grid rows */
.one-row {
    grid-template-rows: repeat( 1, 1fr );
}

.two-rows {
    grid-template-rows: repeat( 2, 1fr );
}

.three-rows {
    grid-template-rows: repeat( 3, 1fr );
}

.four-rows {
    grid-template-rows: repeat( 4, 1fr );
}

.five-rows {
    grid-template-rows: repeat( 5, 1fr );
}

.six-rows {
    grid-template-rows: repeat( 6, 1fr );
}

/* grid span */
.grid-span-one {
    grid-column: span 1;
}

/* possitioning */
.fixed {
    position: fixed;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

/* other */
.small-indent {
	padding-left: 10px;
}

.maxwidth {
    width: 100%;
}
