/* lightmode styling */

/* background color */
body 		{ background-color: white; }

/* header */
header 	{ background-color: lightgrey; }
footer  { color: black; background-color: transparent; }

/* section title text */
.section-title 	{ color: black; }

/* weird items */
.url-container 	{ color: dimgrey; }
.nul-item	{ color: dimgrey; }

/* sidebar */
.sidebar-label	{ color: black; }
.sidebar-title 	{ color: black; }

.sidebar-dropdown 	{ color: black; background-color: white; }

/* link styling */
.url:link 		{ color: rgb(  0,   0, 238); }
.url:visited 		{ color: rgb( 85,  26, 139); }
.url:link:active	{ color: rgb(255,   0,   0); }
.url:visited:active 	{ color: rgb(255,   0,   0); }
